In [1]:
import requests
import bs4
import string
from bs4 import BeautifulSoup
import pandas as pd
import time
import random
#import nltk
#from nltk.tokenize import word_tokenize
#from nltk.corpus import stopwords
#from nltk.tokenize import RegexpTokenizer
#from sklearn import preprocessing, linear_model, naive_bayes, metrics, svm
#from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [2]:

#city_set = ("Austin", "San Francisco")
#state_set = ("Texas", "California", "New York", "Florida", "North Carolina", "Colorado", "Washington")

state = "Washington"

#state_set = ("Texas", "California")

#job_title_set = ("business+intelligence", "data+analyst", "data+scientist", "data+engineer", "full+stack+developer")

job_title = "full+stack+developer"

#job_title_set = ("business+intelligence", "data+analyst")

max_results_per = 10

columns = ["state", "full_job_title", "company_name", "url", "job_class"]
df = pd.DataFrame(columns = columns)
df.head()

Empty DataFrame
Columns: [state, full_job_title, company_name, url, job_class]
Index: []

In [79]:
#scraping code:
for title in job_title_set:
    for state in state_set:
        print(title)
        print(state)

        for start in range(0, max_results_per):
            url = "http://www.indeed.com/jobs?q=title%3A\"" + str(title) + "\"&l=" + str(state) + "&start=" + str(start)
            print(url)
            page = requests.get(url)
            time.sleep(1+random.random()*4)  #ensuring at least 1 second between page grabs
            soup = BeautifulSoup(page.text, "lxml", from_encoding="utf-8")

        for div in soup.find_all(name="div", attrs={"class":"row"}):
            #specifying row num for index of job posting in dataframe
            num = (len(df) + 1) 

            #creating an empty list to hold the data for each posting
            job_post = [] 

            #append state name
            job_post.append(state)

            #grabbing job title
            for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
                job_post.append(a["title"]) 

            #grabbing company name
            company = div.find_all(name="span", attrs={"class":"company"}) 

            if len(company) > 0: 
                for b in company:
                    job_post.append(b.text.strip()) 
            else: 
                sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
                for span in sec_try:
                    job_post.append(span.text)

            #grabbing location name
            #c = div.findAll('span', attrs={'class': 'location'})

            #for span in c:
            #    job_post.append(span.text) 

            #grabbing summary text
            #d = div.findAll(name="a", attrs={"data-tn-element": "href"})

            #for span in d:
            #    job_post.append(span.text.strip()) 

            #grabbing job url
            for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
                job_post.append("http://www.indeed.com" + a["href"]) 

            job_post.append(title)
            #grabbing salary
            #try:
            #    job_post.append(div.find('nobr').text)
            #except:
            #    try:
            #        div_two = div.find(name="div", attrs={"class":"sjcl"}) 
            #        div_three = div_two.find("div") 
            #        job_post.append(div_three.text.strip())
            #    except:
            #        job_post.append("Nothing_found") 

            #print(job_post)
            #appending list of job post info to dataframe at index num
            df.loc[num] = job_post
    
#saving df as a local csv file — define your own local path to save contents 
df.to_csv("output.csv", encoding='utf-8')

full+stack+developer
Washington
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=0
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=1
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=2
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=3
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=4
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=5
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=6
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=7
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=8
http://www.indeed.com/jobs?q=title%3A"full+stack+developer"&l=Washington&start=9

In [78]:
df.to_csv("output.csv", encoding='utf-8')

In [124]:
#range(0, len(df)-1)
#df.iloc[len(df)-1,3]
df["Text"] = ""
#df.head()
#df.iloc[0:4,4] = "business+intelligence"
df.head()

,state,full_job_title,company_name,url,job_class,Text
1,Texas,Epic Business Intelligence Dev,Cook Children's Health Care System,http://www.indeed.com/pagead/clk?mo=r&ad=-6NYl...,business+intelligence,
2,Texas,Business Intelligence Data Developer,Indeed,http://www.indeed.com/pagead/clk?mo=r&ad=-6NYl...,business+intelligence,
3,Texas,AD0754 Business Intelligence Front End Develop...,CommuniCare Health Centers,http://www.indeed.com/pagead/clk?mo=r&ad=-6NYl...,business+intelligence,
4,Texas,Business Intelligence Data Architect,Driscoll Children's Hospital,http://www.indeed.com/pagead/clk?mo=r&ad=-6NYl...,business+intelligence,
5,Texas,Business Intelligence Analyst - Tableau,Adthena,http://www.indeed.com/rc/clk?jk=b99ed97c7cbcb4...,business+intelligence,

In [131]:
#scraping code:
#for i in range(0, len(df) - 1):
#for i in range(0, 3):
#for i in range(0, len(df) - 1):
#for i in range(122, len(df)):
for i in range(len(df)-2, len(df)):
    print(df.iloc[i,0:3])
    url = df.iloc[i,3]
    page = requests.get(url)
    time.sleep(1+random.random()*10)  #ensuring at least 1 second between page grabs
    soup = BeautifulSoup(page.text, "lxml", from_encoding="utf-8")
    
    for div in soup.find_all(name="div", attrs={"class":"jobsearch-jobDescriptionText"}):
        print(div.text[0:100])
        df.iloc[i,5] = div.text

state                            Washington
full_job_title    Java Full Stack Developer
company_name                  Cloudious LLC
Name: 547, dtype: object
Job SummaryHiHope you are doing great!!!We have a job opening Full Stack Java Developer at Tacoma, W
state                              Washington
full_job_title    Senior Full Stack Developer
company_name                             1973
Name: 548, dtype: object
SENIOR FULL STACK DEVELOPER - LEADBellevue,WA – No Sponsorship or Relocation offeredProvoke - the dr

In [117]:
type(div.text)

str

In [132]:
df.tail()

,state,full_job_title,company_name,url,job_class,Text
544,Washington,Full Stack Developer - Web Applications & Expe...,Panopto,http://www.indeed.com/rc/clk?jk=95e25daa70e75c...,full+stack+developer,"As a Full Stack Web UX Developer at Panopto, y..."
545,Washington,Senior Full Stack Developer,SpatialDev,http://www.indeed.com/rc/clk?jk=ad5b1280d88c62...,full+stack+developer,"At SpatialDev, we specialize in data visualiza..."
546,Washington,Full Stack Developer (Remote),CoConstruct,http://www.indeed.com/pagead/clk?mo=r&ad=-6NYl...,full+stack+developer,DO YOU LIKE TO SEE YOUR CODE SHIP TO PRODUCTIO...
547,Washington,Java Full Stack Developer,Cloudious LLC,http://www.indeed.com/pagead/clk?mo=r&ad=-6NYl...,full+stack+developer,Job SummaryHiHope you are doing great!!!We hav...
548,Washington,Senior Full Stack Developer,1973,http://www.indeed.com/pagead/clk?mo=r&ad=-6NYl...,full+stack+developer,"SENIOR FULL STACK DEVELOPER - LEADBellevue,WA ..."

In [172]:
df.to_csv("output_with_text.csv", encoding='utf-8')